@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

*{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 10px;
}

@include breakpoint($tablet) {
    .container{
        padding: 0 20px;
    }
}

@include breakpoint ($desktop) {
    .container{
        max-width: 1280px;
    }
}

//loader

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid $main-color;
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $main-color;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


//fade-in animation
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
    opacity: 0
}
