/* Vars:
   ========================================================================== */

$desktop                 : 1060px;
$tablet                  : 620px;
$mobile                  : 320px;


// Main color
$main-color              : #3d8eeb;
$panel-color            : #7584a1;

// Simple color
$white-color             : #ffffff;
$grey-color              : #aeb5c2;
$blue-color              : #00eeff;
$red-color               : #d40f0f;
$green-color             : #219911;

